@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --background-color: white;
  --font-color: black;
  --navbar-height: 10vh;
  --footer-height: 10vh;
  --theme-color: #add8d6;
  --main-font: 'Open Sans', Helvetica;
  --title-font: serif;
}
