@import './_base.css';
@import './_variables.css';
@import './_promotion.css';
@import './_clock.css';

* {
  margin: 0;
  padding: 0;
}

:root {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--main-font);
  overflow-x: hidden;
  font-size: 18px;
}

#content {
  width: 100%;
  padding-bottom: var(--footer-height);
  margin-top: 0;
  padding-top: 0;
}

#content > section {
  min-height: 100vh;
  padding: 0 50px;
  position: relative;
}

#intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
#hmif {
  background-image: linear-gradient(
      120deg,
      rgba(242, 191, 162, 1) 40%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('../image/hmif.jpeg');
  background-size: cover;
}

.profile {
  padding-top: 100px;
  padding-left: 50px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--theme-color);
  width: 100%;
}

.title {
  font-size: 4rem;
  color: var(--theme-color-dark);
  padding: 40px 0;
  font-weight: 600;
}

.strong {
  font-weight: 600;
}

.subtitle {
  font-style: italic;
  opacity: 0.6;
}

.info {
  padding: 10px 0;
  max-width: 75%;
  text-align: justify;
  text-justify: auto;
  line-height: 150%;
}

.small-info {
  padding: 10px 0;
  max-width: 40%;
  line-height: 150%;
}

.img-container {
  padding: 0;
  margin: 0;
  float: right;
  display: flex;
  justify-content: flex-end;
}

.profile-image {
  margin: 20px 40px 0 auto;
  width: 100%;
  object-fit: cover;
}

.emphasize {
  background: var(--complementary-color);
  font-weight: 600;
}

.links {
  display: flex;
  list-style: none;
}

.btn {
  border: 1px solid black;
  padding: 10px;
  border-radius: 13px;
  margin-right: 10px;
  text-decoration: none;
  transition: box-shadow 0.3s ease-out;
  color: white;
}

.btn-container {
  padding-top: 3vw;
}

.btn-blue {
  background-color: #007bff;
}

.btn:hover {
  box-shadow: 0 0 10px black;
}

.github {
  color: white;
  background-color: black;
}

.instagram {
  color: white;
  background-color: red;
  background: linear-gradient(
    43deg,
    rgba(250, 255, 0, 1) 0%,
    rgba(255, 200, 0, 1) 10%,
    rgba(170, 0, 255, 1) 100%
  );
}

.linkedin {
  color: white;
  background-color: blue;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: var(--footer-height);
  margin-top: calc(-1 * var(--footer-height));
  background-color: var(--theme-color-2);
}
